.hero-section {
  border: 1px solid var(--primary-blue-color);
  background: var(--gradient-primary);
  position: relative;
}
.hero-description {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
  color: var(--primary-white-color);
}

.hero-description h1 {
  max-width: 700px;
  font-size: 4rem;
}
.hero-description p {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 2rem auto;
}

.hero-description a {
  border-radius: var(--border-radius);
  padding: 1rem;
  display: inline-block;
}

.hero-description a:first-of-type {
  border: 1px solid var(--primary-blue-color);
  margin: 1rem;
  color: var(--primary-white-color);
  width: 100px;
  /* background: transparent; */
}

.hero-description a:last-of-type {
  width: 150px;
  /* background: rgba(194, 140, 140, 0.15); */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px) saturate(110%);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    0 3px 6px rgba(0, 0, 0, 0.1);
}

.hero-description a:last-of-type:hover {
  background: linear-gradient(to bottom, #6eb4f0 0%, #257cc6 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 4px 8px rgba(0, 0, 0, 0.15);
}

.hero-image {
  height: 500px;
  width: 1200px;
  /* margin: 1rem auto; */
  margin-top: 1rem;
  margin: auto;
  padding: 20px 20px 0px 20px;
  border-radius: var(--border-radius);
  /* border: 10px solid var(--gradient-gray); */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px) saturate(110%);
}

.hero-image > img {
  object-fit: cover;
  object-position: top;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 4px 8px rgba(0, 0, 0, 0.15);
}

.hero-icon1,
.hero-icon2 {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 100;
}

.hero-icon1 {
  top: 0;
  right: 0;
}

.hero-icon2 {
  bottom: 0;
  left: 0;
}
