@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue-color: #146eb1;
  --primary-white-color: #fff;
  --primary-gray-color: #f2f5f7;
  --secondary-color: #082f4b;
  --text-color: #222;
  --gradient-primary: linear-gradient(#146eb1, #082f4b);
  --gradient-gray: linear-gradient(to bottom, #5fa8e6 0%, #1c6fb7 100%);
  --border-radius: 8px;
  --transition-speed: 0.3s ease;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6;
  scroll-behavior: smooth;
}
/* html {
  font-size: 62.5%;
} */
a {
  text-decoration: none;
  color: inherit;
  transition: all var(--transition-speed) ease;
}

a:hover {
  color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: var(--border-radius);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  transition: all var(--transition-speed);
}

input,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  transition: border-color var(--transition-speed);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-blue-color);
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue-color);
}
